<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Coursify Recurite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}" />
  </head>
  <body>
    {% for message in get_flashed_messages()%}
       {% if message == "Invalid details check properly" %}
       <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
       {% endif %}
    {% endfor %}   
    <section class="container">
      <header>Welcome to <span><a class="text-decoration-none text-color fs-1" href="{{url_for('home')}}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="50" height="50" class="img-hover-zoom"> Coursify</a></span></header>
      <form action="{{url_for('student_details')}}" method="POST" class="form">
        <div class="input-box">
          <label for="name">Full Name</label>
          <input type="text" placeholder="Enter full name" name="name" id="name" required />
        </div>

        <div class="input-box">
          <label for="email">Email Address</label>
          <input type="email" placeholder="Enter email address" name="email" id="email" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label for="phone">Phone Number</label>
            <input type="tel" placeholder="Enter phone number" name="phone" id="phone" pattern="[0-9]{10}" required />
          </div>
          <div class="input-box">
            <label for="country">Country</label>
            <input type="text" placeholder="Your Country" name="country" id="country" required />
          </div>
        </div>

        <div class="column">
            <div class="input-box">
              <label for="field">Job Category</label>
              <select name="field" id="field" required >
                <option value="engineering">Engineering</option>
                <option value="it">IT</option>
                <option value="consultant">Consultant</option>
                <option value="finance">Finance</option>
                <option value="marketing">Marketing</option>
                <option value="sales">Sales</option>
                <option value="">Others</option>
              </select>
            </div>
            <div class="input-box">
              <label for="job_title">Job Title</label>
              <input type="text" placeholder="Your Position" name="job_title" id="job_title" required />
            </div>
          </div>
          <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
              <div class="gender">
                <input type="radio" id="check-male" name="gender" value="male" checked />
                <label for="check-male">male</label>
              </div>
              <div class="gender">
                <input type="radio" id="check-female" name="gender" value="female" />
                <label for="check-female">Female</label>
              </div>
              <div class="gender">
                <input type="radio" id="check-other" name="gender" value="others" />
                <label for="check-other">prefer not to say</label>
              </div>
            </div>
          </div>
        <button type="submit" class="rounded">Submit</button>
      </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>